.git
target/
data/
logs/
notebooks/
images/
docs/
bi/workspace/node_modules
bi/workspace/.evidence
bi/workspace/build
dbt_warehouse/target
dbt_warehouse/dbt_packages
dbt_warehouse/logs
.venv
**/__pycache__
*.duckdb
!bi/workspace/sources/**/*.duckdb
dev.duckdb
